.carouselImages {
    width: 100%;
    height: auto;
}

.rightContainer {
    background-color: coral;
    height: 5em;
    margin-bottom: 6em;
    border-radius: 25px;
    color: black;
}

.rightContainerText {
    text-align: center;
    padding-top: 1.5rem;
}

.goalContainer {
    height: 200px;
    background-color: #756464;
    border-radius: 10px;
}

.middleContainer {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 2rem;
}

.middleExtra {
    border-radius: 10px;
    background-color: aliceblue;
    width: 10em;
    
}